.img{
  top: 770px;
  height: 400px;
  position: absolute;
  z-index: -1;
  border-radius: 20px;

}
.hot{
  
  margin-top: 120px;
}
.content{

  margin-left: 25px;
}
.inputsearch{

  height: 30px;
  margin-left: 30px;
  border-radius: 10px;
}